@import "./breakPoints";

.checkout-container {
  margin-top: 140px;
  color: #050038;
  min-height: calc(100vh - 140px);
  
  @include large() {
    min-height: calc(100vh - 90px);
    margin-top: 75px;
    font-size: 18px;
  }
  
  &__header {
    background-color: #004bb4;

    p {
      color: #fff;
      padding-left: 15px;
      font-size: 16px;
      border-left: 1px solid #fff;
    }
  }

  .checkout {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &__content {
      margin-top: 10px;
      @include large() {
        margin-top: auto;
      }
      margin-bottom: auto;
    }
    
    &__btn {
      background-color: #004bb4;
      border: unset;
      
      &--ghost {
        background-color: #fff !important;
        color: #004bb4;
        &:active {
          background-color: #fff !important;
          color: #004bb4;
        }
      }
      &:focus {
        outline: none;
      }
      &--next {
        font-family: Montserrat-SemiBold;
        font-size: 15px;
        color: #fff;
        background-color: #D9DBDF;
        border-color: #D9DBDF;
      }
    }
    
    &__separator {
      width: 1px;
      background-color: #D9DBDF;
    }

    &__link {
      color: #004bb4;
      cursor: pointer;
      background: none;
      border: none;
      font-size: 12px;
      &.link {
        text-decoration: underline;
      }
    }

    &__radio {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 3px !important;
      background-clip: content-box;
      border: 1px solid #bbbbbb;
      background-color: #fff;
      border-radius: 50%;
      &:checked {
        background-color: #004bb4;
      }
    }

    &__text-area {
      display: flex;
      flex-direction: column;
      label {
        font-size: 14px;
        font-family: Montserrat-Medium;
        color: #050038;
        margin-bottom: 5px;
      }
      textarea {
        border: 1px solid #D9DBDF;
        border-radius: 5px;
        outline: none;
        padding: 15px;
        text-align: left;
        font-family: Montserrat-Medium;
        font-size: 16px;
        color: #050038;
        height: 215px;
        margin-bottom: 20px;
        @include large {
          height: 96px;
        }
      }
    }
    
    .delivery-method {
      .checkout-svg {
        height: 24px;
      }
      .alert {
        color: #8a93a8;
        background-color: #f3f4f8;
      }
      label {
        cursor: pointer;
      }
    }
    
    .radio-payment-method {
      font-size: 16px;
      
      .checkout-svg {
        height: 18px;
      }
    }
  }
}

.checkout-header-mobile {
  position: fixed;
  z-index: 3;
  top: 58px;
  width: 100%;
  background-color: #f3f4f8;
  padding: 15px 0;
  color: #050038;

  &__price {
    font-size: 20px;
  }
  &__icon-down {
    cursor: pointer;
  }
}

.checkout-breadcrumb {
  &__shape {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-color: #004bb4;
    margin: 0 3px;
    padding: 5px 5px;
    border-radius: 15px;
  }
  &__link {
    color: #050038;
    font-size: 16px;
  }
  a {
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
  }
}

.checkout-detail-image {
  position: relative;
  padding-top: 58%; /* aspect-ratio: 220 / 128; */
  width: 100%;

  &__inner {
    width: 100%;
    padding-top: 58%; /* aspect-ratio: 220 / 128; */
    position: absolute;
    content: "";
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    border-radius: 5px;
    border: 1px solid #d9dbdf;
  }
}

.checkout-detail__desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: unset;
}
.checkout__title-total {
  font-family: Montserrat-Bold;
  font-size: 22px;
}
.checkout__title {
  color: #050038;
  font-size: 20px;
  font-family: Montserrat-Bold;
  text-decoration: none !important;

  &:hover {
    text-decoration: none;
  }
  &--small {
    font-size: 18px;
  }
}

.checkout__logout {
  color: #050038 !important;
  font-size: 14px;
}

.checkout-btn-header-accordion {
  background-color: transparent;
  border: unset !important;
  &.disable {
    img {
      opacity: 0.5;
    }
    cursor: not-allowed;
  }
}

.checkout-detail__other {
  letter-spacing: 0px;
  color: #004bb4;
  line-height: 0.5;
  font-size: 12px;
  cursor: pointer;
}

.checkout-detail__info {
  color:#050038;
  font-size: 16px;
}

.checkout__tab-mobile {
  justify-content: space-between;
  border: unset;
  .nav-item {
    width: calc((100% - 30px) / 4);
    padding: 0;
    height: 4px;
    background-color: #d9dbdf;
    border-radius: 0.25rem;
    border: unset !important;
    overflow: hidden;

    p {
      background-color: #d9dbdf;
      &.active {
        background-color: #004bb4;
      }
    }

    &.active {
      background-color: #004bb4;
      border: unset !important;
      p {
        background-color: #004bb4;
      }
    }
  }

  .nav-link {
    &.disabled {
      background-color: #d9dbdf;
    }
  }
}

.checkout-mobile__shape {
  width: 85px;
  height: 40px;
  background-color: #004bb4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #fff;
}
@media (max-width: 992px) {
  .checkout {
    &__mt-25 {
      margin-top: 25px;
    }
    &__mb-25 {
      margin-bottom: 25px;
    }
    &__mt-50 {
      margin-top: 50px;
    }
    &__mb-50 {
      margin-bottom: 50px;
    }
  }
}
.checkout-box-dropdown {
  transition: max-height 0.3s;
  max-height: 0;
  padding-bottom: unset;
  overflow: hidden;
  top: 130px;
  &.active {
    max-height: calc(100vh - 115px);
    padding-bottom: 200px;
    overflow: auto;
  }
}
.radio-btn-custom {
  border-radius: 5px;
  margin-bottom: 16px;
}