@import "./breakPoints";

.footer {
  width: 100%;
  font-size: 12px;
  display: flex;
  margin-bottom: 15px;
  color: #050038;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;

  &__link {
    a {
      font-size: 12px;
      color: #050038;
    }
    &::after {
      content: "|";
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}
