.margin-header {
  margin-top: 174px;
}
.header-main {
  z-index: 2;
  padding: 23px 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  left: 0;
  border-bottom: 1px solid #d9dbdf;
  &__block-info {
    display: flex;
    .my-transactions {
      display: flex;
      align-items: center;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      &__text-info {
        color: #050038;
        font-size: 16px;
        cursor: pointer;
      }
      &__number {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 22px;
        display: inline-block;
        background-color: #004bb4;
        border: none;
        text-align: center;
        margin-left: 10px;
        font-size: 14px;
        color: #ffffff;
      }
    }
    .my-info {
      color: #050038;
      font-size: 18px;
      margin-left: 30px;
      display: flex;
      align-items: center;
      padding-right: 30px;
      cursor: pointer;
      button {
        color: #050038;
        font-size: 16px;
      }
      .img-avatar {
        width: 40px;
        height: 40px;
        border-radius: 14px;
        margin-right: 12px;
      }
      .icon-down {
        width: 10px;
        height: 10px;
        margin-left: 5px;
      }
      .custom-profile-dropdown {
        button {
          box-shadow: none;
          &::after {
            display: none;
          }
        }
        .dropdown-menu {
          padding: 22px 26px 10px 26px;
          border-radius: 10px;
          width: 280px;
          transform: translate(-151px, 65px) !important;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 8px #00000029;
          border: none;
          &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            top: 18px;
            right: 45px;
            margin-top: -25px;
            transform: rotate(135deg);
            border: 2px solid #f8f8f8;
            margin-right: -26px;
            background-color: #ffffff;
            -webkit-clip-path: polygon(0 100%, 100% 100%, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 0 0);
            box-shadow: 0px 0px 8px #00000029;
          }
        }
        .icon-dropdown {
          width: 20px;
          margin-right: 10px;
          height: 20px;
        }
        .text-dropdown {
          color: #050038;
          font-size: 16px;
          .money {
            float: right;
          }
        }
        .dropdown-item {
          border-bottom: 1px solid #e0e2e6;
          padding: 12px 0px;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background-color: #ffffff;
          }
        }
      }
    }
    .flag-language {
      display: flex;
      align-items: center;
      border-left: 1px solid #e0e2e6;
      padding-left: 30px;
      padding-right: 10px;
    }
  }
  &__block-icon-menu {
    display: none;
  }
  &__icon-menu-on {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    cursor: pointer;
  }
  &__icon-menu-off {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    cursor: pointer;
  }
}

.block-settings {
  width: 100%;
  margin-bottom: 50px;
  .list-menu-bar {
    margin-right: 5px;
    list-style-type: none;
    .icon-list {
      width: 25px;
      margin-right: 15px;
      height: 25px;
    }
    a {
      text-decoration: none;
    }
    .text-list {
      display: flex;
      color: #050038;
      font-size: 16px;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 15px 20px;
      margin-bottom: 10px;
      height: 48px;
      display: flex;
      align-items: center;
    }
    .active {
      .text-list {
        background-color: #004bb4;
        color: #ffffff;
        .icon-list {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .list-menu-bar {
    padding-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .header-main {
    height: 78px;
    padding: 0px 15px;
    &__block-info {
      display: none;
    }
    &__block-icon-menu {
      display: block;
    }
  }
  .block-settings {
    width: -webkit-fill-available;
    .list-menu-bar {
      display: none;
    }
  }
  .margin-header {
    margin-top: 100px;
  }
}
