@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "./breakPoints.scss";

.home {
  margin-top: 100px;

  @include large(){  
    margin-top: 174px;
  }
  &__title {
    font-size: 22px;
    color: #050038;
    font-family: Montserrat-Bold;    
  }
}

.home-tab {
  border-bottom: unset;
  .nav-link {
    border-radius: 15px;
    color: #050038;
    margin-right: 10px;
    font-size: 12px;
    padding: 0.2rem 0.7rem;
    &.active {
      border: unset;
      background-color: #004bb4;
      color: #fff;
    }
  }
}

.home-card {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  @include large() {
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: $spacer * 2!important;
  }
  
  &__left {
    @include large() {
      display: flex;
    }
  }

  &__title,
  &__price {
    color: #050038;
    font-size: 22px;
    font-family: Montserrat-Bold;
  }

  &__price {
    color: #004bb4;
    align-self: stretch;
    @include large() {
      border-left: 1px solid #ddd;
      display: flex;
      align-items: center;
    };
    &.losses {
      color: #050038;
    }
  }

  &__check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.45);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 8px;
      top: 5px;
      z-index: 4;
      width: 5px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      top: 3px;
      left: 3px;
      background-color: rgba(0, 128, 0, 1);
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }
  }

  &__details {
    color: #050038;
    @include large() {
      display: flex;
      
      > div:last-child {
        padding-left: 20px;
        margin-left: 20px;
        border-left: 1px solid #ddd;
      }
      p {
        color: #050038;
        font-size: 16px;
      }
      .key {
        @include large() {
          color: $secondary;
        }
      }
    }
    
    .value {
      display: inline-block;
      margin-left: $spacer * .3;
    }
  }
}
