@font-face {
  font-family: CircularStd-Book;
  src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: CircularStd-Black;
  src: url(../fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: CircularStd-Bold;
  src: url(../fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularStd-Medium;
  src: url(../fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

body {
  margin: 0;
  font-family: Montserrat-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-block {
  border-radius: 8px 8px 9px 9px;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 16px;
  padding: 11px 0px;
}

*:focus {
  outline: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.ellipsis {
  cursor: pointer;
}

.ellipsis::after {
  content: attr(seeMoreLessText);
  color: #bac2cb;
  line-height: 30px;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 1.3em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.keep-line-breaks {
  white-space: pre-line;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  color: #004bb4;
}

.color-blue-tripartie {
  color: #004bb4 !important;
}

.btn-loading {
  position: relative;
}

.btn-loading .btn-content {
  visibility: hidden;
}

.btn-loading .btn-spinner {
  visibility: visible;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}