.language-selector {
  &.small * {
    font-size: 12px !important;
  }
  
  .dropdown-menu {
    min-width: 0;
  }
  
  .dropdown-item {
    padding: 0.25em 1em;
  }
  
  button {
    background: none !important;
    color: #050038 !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  &__flag {
    display: block;
    height: 1.2em;
    width: 1.2em;
    margin-right: 10px;
  }
  
  &__label {
    display: block;
  }
  
  &__arrow {
    display: block;
    height: 10px;
    width: 10px;
    margin-left: 8px;
  }
}