@import "./breakPoints";

.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-login-main {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  &__content {
    margin: auto;
    border: 1px solid #d9dbdf;
    padding: 30px 40px;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    img {
      margin-bottom: 14px;
    }
    .title-main {
      font-size: 22px;
      color: #004bb4;
      margin-bottom: 14px;
      font-family: Montserrat-Bold;
    }
    .description {
      font-size: 16px;
      color: #8a93a8;
      line-height: 21px;
      margin-bottom: 30px;
      display: inline-block;
    }
  }
  &__text-bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
    color: #050038;
  }
}

.form-login {
  .form-group {
    width: 100%;
    margin-bottom: 0px;
    .invalid-feedback {
      text-align: left;
      margin-bottom: 10px;
    }
    .form-control {
      color: #050038;
      font-size: 16px;
      border-radius: 5px;
      box-shadow: none;
      height: 48px;
      &::placeholder {
        color: #bac2cb;
        font-size: 16px;
      }
    }
    &.form-group-border-top {
      .form-control {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
    &.form-group-border-bottom {
      .form-control {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-top: -2px;
      }
    }
    &.form-group-border-center {
      .form-control {
        border-radius: 0px;
        &.is-invalid {
          margin-top: 2px;
        }
      }
    }
    &.form-group-border-top-left {
      padding-left: 0px;
      padding-right: 0px;
      .form-control {
        border-radius: 0px;
        border-top-left-radius: 5px;
        margin-bottom: -2px;
        border-right: 0px;
        &.is-invalid {
          border-right: 1px solid #dc3545;
        }
      }
    }
    &.form-group-border-top-right {
      padding-right: 0px;
      padding-left: 0px;
      .form-control {
        border-radius: 0px;
        border-top-right-radius: 5px;
        margin-bottom: -2px;
      }
    }
  }
  .text-forget-password {
    display: inline-block;
    color: #8a93a8;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    @include large() {
      display: block;
    }
  }
  .btn-block {
    background: #004bb4 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 9px 9px;
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #004bb4;
    padding: 11px 0px;
    font-family: Montserrat-SemiBold;
  }
  .text-not-have-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: #8a93a8;
      font-size: 12px;
      margin-top: 18px;
      margin-bottom: 18px;
      position: relative;
      text-align: center;
      &:first-child {
        margin-right: 5px;
        height: 1px;
        flex: 1;
        background-color: #8a93a8;
      }
      &:last-child {
        margin-left: 5px;
        height: 1px;
        flex: 1;
        background-color: #8a93a8;
      }
    }
  }
  .create-account {
    color: #8a93a8;
    font-size: 14px;
    background: #f3f4f8 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 9px 9px;
    width: 100%;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-family: Montserrat-SemiBold;
  }
  .text-agree {
    margin-top: 15px;
    margin-bottom: 15px;
    label {
      text-align: left;
      font-size: 12px;
      color: #8a93a8;
      a {
        color:#004BB4;
      }
    }
    .form-check-input {
      margin-top: 3px;
    }
  }
  .text-ask-account {
    color: #8a93a8;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    a {
      color: #004BB4;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1200px) {
  .form-login-main__content {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .form-login-main__content {
    width: 75%;
  }
  .form-login {
    .text-agree {
      &-checkout {
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
}
@media (max-width: 768px) {
  .form-login-main__content {
    width: 100%;
    border: none;
    padding: 0px;
  }
}
