.block-menu-responsive {
  display: none;
  position: fixed;
  top: 78px;
  right: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  &__opacity {
    background: #000;
    opacity: 0.4;
    width: 10%;
    height: 100%;
    float: left;
  }
  &__list-bar {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      padding: 0;
      &:hover {
        text-decoration: none;
      }
    }
    width: 90%;
    height: calc(100vh - 60px);
    background-color: #ffffff;
    opacity: 1;
    float: right;
    list-style-type: none;
    padding: 30px 5px 30px 30px;
    .text-list {
      display: flex;
      color: #050038;
      font-size: 18px;
      background-color: #ffffff;
      border-radius: 5px;
      padding-bottom: 15px;
      align-items: center;
      margin-bottom: 10px;
    }
    .icon-list {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
    .margin-top-list {
      margin-top: 45px;
    }
  }
}
