.modal-add-payment {
  .modal-header {
    position: relative;
    padding: 25px;
    padding-bottom: 0px;
    border-bottom: none;
    flex-direction: column;
  }
  .modal-body {
    padding: 20px 25px 20px;
  }
  .form-content {
    .placeholder {
      color: #bac2cb;
    }
    .color-input {
      color: #050038;
    }
    .form-group {
      margin-bottom: 0px;
      .form-control {
        color: #050038;
        border-radius: 0px;
        height: 48px;
        box-shadow: none;
        &::placeholder {
          color: #bac2cb;
          font-size: 16px;
        }
      }
    }
    .form-group-top {
      margin-bottom: 15px;
      .form-control {
        border-radius: 5px;
      }
    }
    .form-group-border-center-left {
      padding-right: 0px;
      .form-control {
        border-right: 0px;
        &.is-invalid {
          border-right: 1px solid red;
        }
      }
    }
    .form-group-border-center-right {
      padding-left: 0px;
    }
    .form-group-border-bottom-left {
      padding-right: 0px;
      .form-control {
        border-right: 0px;
        border-bottom-left-radius: 5px;
        &.is-invalid {
          border-right: 1px solid red;
        }
      }
    }
    .form-group-border-bottom-right {
      padding-left: 0px;
      .form-control {
        border-bottom-right-radius: 5px;
        background: url(../images/icon-card.svg) 95% 50% no-repeat;
        background-size: 25px 25px;
        padding-right: 40px;
        background-color: #ffffff;
      }
    }
    .form-group-border-top {
      .form-control {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: -2px;
      }
    }
    .form-group-border-bottom {
      .form-control {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: -2px;
      }
    }
    .form-group-border-t-b-l {
      .form-control {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    .form-group-border-t-b-r {
      .form-control {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    .form-group-input-address {
      label {
        font-size: 14px;
        color: #050038;
        margin-bottom: 4px;
        line-height: 16.8px;
        letter-spacing: -0.2px;
      }
      .form-control {
        height: 48px;
        border-radius: 5px;
        padding-left: 50px;
        padding-right: 50px;
      }
      .input-address-custom {
        position: relative;
        .icon-map {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
        }
        .icon-close {
          cursor: pointer;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
      }
    }
  }
  .modal-footer {
    padding: 0px 25px 25px 25px;
    border-top: none;
  }
  &__button-submit {
    margin: 0px;
    margin-top: 20px;
    width: 100%;
    padding: 11px;
    background-color: #004bb4;
    font-size: 16px;
    color: #ffffff;
    height: 48px;
    font-family: Montserrat-SemiBold;
  }
  &__title {
    font-size: 22px;
    color: #050038;
    font-family: Montserrat-Bold;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  &__description {
    font-size: #050038;
    font-size: 16px;
  }
  &__icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  &__text-holder-address {
    font-size: 14px;
    color: #050038;
    font-family: Montserrat-Medium;
    letter-spacing: -0.2px;
    line-height: 16.8px;
  }
  .custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30%;
  }
}
.modal-backdrop {
  background: #7f7f7f;
  &.show {
    opacity: .5;
  }
}
