.parcel-delivery-modal {
  .modal-dialog {
    max-width: 80%;
  }
  .modal-header {
    border-bottom: none;
  }
  .modal-body {
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
  }
  .modal-content {
    min-height: 80vh;
  }
  &__icon-preview {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    img {
      width: 20px;
    }
  }
  &__icon-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    img {
      width: 32px;
      height: 32px;
    }
  }
  &__title {
    text-align: center;
    font-family: Montserrat-Bold;
    color: #050038;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  &__btn-confirm {
    width: 100%;
    height: 48px;
    background-color: #00b97d;
    border-radius: 8px 8px 9px 9px;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &__method-delivery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  &__address-delivery {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
  }
  &__content {
    transition: 0.5s;
  }
}
.list-method-delivery {
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  &__item {
    position: relative;
    width: 32%;
    min-height: 200px;
    transition: 0.5s;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    input[type="radio"] {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      outline: none;
      transition: 0.5s;
      background: #ffffff;
      box-sizing: border-box;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #d9dbdf;
    }
    input:checked[type="radio"] {
      background: #f3f4f8;
    }
    label {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      font-family: SFUIText-Regular;
      font-size: 14px;
      line-height: 17px;
      color: #51b5ff;
      cursor: pointer;
    }
  }
}
.content-method-delivery {
  img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    font-family: Montserrat-Medium;
    color: #8a93a8;
    margin-bottom: 4px;
    letter-spacing: -0.2px;
    line-height: 16.8px;
  }
  .title {
    font-weight: 500;
    color: #050038;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.22px;
  }
  .bold {
    font-family: Montserrat-Bold;
  }
}
.mb-25-custom {
  margin-bottom: 20px;
}
.block-info-map {
  position: relative;
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
  .google-map-show {
    width: 70%;
    height: 400px;
    > div {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;
      border: 1px solid #d9dbdf;
      border-right: none;
    }
  }
  .parcel-delivery-modal__btn-confirm {
    width: 20%;
    position: absolute;
    bottom: 15px;
    right: 5%;
    &:disabled {
      background-color: #d9dbdf;
      opacity: 1;
      color: #fff;
    }
  }
}

.list-address {
  width: 30%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid #d9dbdf;
  height: 400px;
  overflow: auto;
  &__item {
    position: relative;
    width: 100%;
    transition: 0.5s;
    background: #ffffff;
    box-sizing: border-box;
    img {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;
      display: none;
    }
    .content {
      display: flex;
      .stt {
        font-family: Montserrat-Bold;
        color: #050038;
        padding-right: 20px;
      }
      p {
        width: 80%;
        font-size: 14px;
        font-family: Montserrat-Medium;
        color: #8a93a8;
        margin-bottom: 4px;
      }
      .title {
        font-family: Montserrat-Bold;
        color: #050038;
      }
      .time {
        color: #8a93a8;
        font-family: Montserrat-Medium;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        width: 80%;
        display: none;
        &:first-of-type {
          margin-top: 20px;
        }
      }
    }
    input[type="radio"] {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      outline: none;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background: #ffffff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      border-top: 1px solid #d9dbdf;
    }
    input:checked[type="radio"] {
      background: #f3f4f8;
      + img {
        display: block;
      }
      ~ label {
        .content {
          .time {
            display: flex;
          }
        }
      }
    }
    label {
      padding: 10px 20px 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      font-family: SFUIText-Regular;
      font-size: 14px;
      line-height: 17px;
      color: #51b5ff;
      cursor: pointer;
    }
    &:first-child {
      input[type="radio"] {
        border-top: none;
      }
    }
  }
}
.parcel-delivery {
  label {
    margin-bottom: 0px;
  }
  .radio-btn-custom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &__info-more {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #d9dbdf;
    border-top: none;
    padding: 15px 16px;
    display: none;
    img {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      @media (max-width: 768px) {
        width: 28px;
        height: 28px;
      }
    }
    p {
      font-family: Montserrat-Medium;
      font-size: 16px;
      color: #050038;
      margin-bottom: 5px;
      line-height: 22px;
      letter-spacing: -0.22px;
    }
    .edit {
      color: #00b97d;
      margin-left: 10px;
      font-size: 14px;
    }
    .price {
      float: right;
      @media (max-width: 768px) {
        font-weight: bold;
      }
    }
    .description {
      color: #8a93a8;
      font-size: 12px;
      margin-bottom: 15px;
    }
    .address {
      width: 85%;
    }
    .bold {
      font-family: Montserrat-Bold;
      margin-right: 10px;
    }
  }
}
.parcel-delivery {
  .parcel-delivery__info-more {
    display: flex;
  }
}
.block-method-delivery-respon {
  .title-main {
    color: #050038;
    font-size: 35px;
    font-family: Montserrat-Bold;
    line-height: 45px;
    letter-spacing: -0.98px;
  }
  .description-block {
    color: #050038;
    font-family: Montserrat-Medium;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
  }
  .modal-add-payment {
    .form-content {
      .form-group-input-address {
        margin-bottom: 40px;
        label {
          display: none;
        }
        .form-control {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          border-top: none;
        }
      }
      .form-group-border-t-b-l {
        .form-control {
          border-bottom-left-radius: 0px;
        }
      }
      .form-group-border-t-b-r {
        .form-control {
          border-bottom-right-radius: 0px;
        }
      }
    }
  }
  .mb-25-custom {
    margin-bottom: 0px;
  }
  .list-method-delivery {
    margin-bottom: 40px;
    &__item {
      width: 100%;
      margin-bottom: 20px;
      min-height: 100px;
      label {
        text-align: left;
      }
      input[type="radio"]::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        left: 25px;
        border-radius: 50%;
        border: 1px solid #d9dbdf;
        padding: 10px;
      }
      input:checked[type="radio"]::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        left: 29px;
        background-color: #00b97d;
        border-radius: 50%;
      }
    }
  }
  .content-method-delivery {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
    img {
      width: 50px;
      height: 50px;
      margin-bottom: 0;
    }
    .p-last {
      display: none;
    }
  }
  .tab-list {
    .nav-link {
      border: 1px solid #d9dbdf;
      border-radius: 0px;
      width: 50%;
      color: #000;
      text-align: center;
      &.active {
        border: 1px solid #d9dbdf;
        background-color: #f3f4f8;
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 5px;
      }
    }
  }
  .tab-content > .active {
    .tab-item {
      width: 100%;
      min-height: 500px;
      border: 1px solid #d9dbdf;
      border-top: none;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      &--last {
        min-height: unset;
        max-height: 500px;
        overflow: auto;
      }
    }
  }
  .google-map-show {
    width: 100%;
    height: 500px;
    > div {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;
      border: 1px solid #d9dbdf;
      border-right: none;
    }
  }
  .list-address {
    width: 100%;
    height: unset;
    border-radius: 0px;
    border: none;
    &__item {
      input:checked[type="radio"] + img {
        display: none;
      }
      .content {
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
        p {
          width: 100%;
          margin-left: 40px;
        }
        .stt {
          padding-right: 0px;
        }
        .time {
          width: 70%;
          margin-left: 40px;
        }
      }
      input[type="radio"]::after {
        content: "";
        position: absolute;
        top: 11px;
        width: 20px;
        height: 20px;
        left: 25px;
        border-radius: 50%;
        border: 1px solid #d9dbdf;
        padding: 10px;
      }
      input:checked[type="radio"]::before {
        content: "";
        position: absolute;
        top: 15px;
        width: 14px;
        height: 14px;
        left: 29px;
        background-color: #00b97d;
        border-radius: 50%;
      }
    }
  }
  .parcel-delivery-modal__btn-confirm:disabled {
    background-color: #d9dbdf;
    opacity: 1;
    color: #fff;
  }
}

.autocomplete-dropdown-container-custom {
  margin-top: -5px;
  .suggestion-item {
    border: 1px solid #ced4da;
    border-top: none;
    color: #050038;
    font-family: Montserrat-Medium;
    letter-spacing: -0.22px;
    line-height: 22px;
    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  .text-item-address {
    padding: 10px;
    display: inline-block;
  }
}
