.block-wallet {
  &__item {
    border: 1px solid #d9dbdf;
    border-radius: 0.25rem;
    padding: 25px;
    margin-bottom: 30px;
  }
  &__title-main {
    color: #050038;
    font-size: 22px;
    margin-bottom: 8px;
    font-family: Montserrat-Bold;
  }
  &__description {
    color: #9b99af;
    font-size: 16px;
    margin-bottom: 20px;
    &__list {
      color: #9b99af;
      p {
        margin-bottom: 0.5rem;
      }
      ul {
        list-style-type: '- ';
      }
    }
  }
  &__money {
    color: #1c1c1d;
    font-size: 22px;
    margin-bottom: 12px;
  }
  &__button-move {
    background: #f3f4f8 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 9px 9px;
    padding: 8px 18px;
    color: #8a93a8;
    font-size: 14px;
    border: none;
    font-family: Montserrat-SemiBold;
    height: 48px;
  }
  &__button-add-document {
    border: 1px solid #004bb4;
    border-radius: 8px 8px 9px 9px;
    padding: 11px 18px;
    margin-left: 10px;
    margin-right: 10px;
    color: #004bb4;
    font-size: 14px;
    background-color: #ffffff;
    height: 48px;
    font-family: Montserrat-SemiBold;
    
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.block-payment {
  margin-bottom: 30px;
  border: 1px solid #d9dbdf;
  border-radius: 0.25rem;
  padding-bottom: 10px;
  
  & > * {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  &__title {
    color: #050038;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Montserrat-Bold;
  }
  
  &__description {
    color: #9b99af;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  &__item {
    flex-wrap: nowrap;
    padding: 25px;
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__bottom {
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #d9dbdf;
  }
  &__text-add {
    color: #004bb4;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__icon-add-plus {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    margin-right: 12px;
  }
}
.block-payment-item {
  color: #050038;
  font-size: 16px;
  
  &__button {
    color: #ff465a;
    font-size: 10px;
    border: 1px solid #ff465a;
    border-radius: 0.25rem;
    padding: 5px 15px;
    background-color: #ffffff;
    font-family: Montserrat-SemiBold;
    
    &:active, &:hover {
      border: 1px solid #ff465a;
      background-color: #ff465a !important;
      color: #ffffff;
    }
  }
  &__icon-invalid {
    width: 20px;
    margin-left: 20px;
    height: 20px;
  }
  .card-provider-logo {
    height: 16px;
  }
}
.block-profile {
  border: 1px solid #d9dbdf;
  border-radius: 0.25rem;
  padding: 25px;
  margin-bottom: 30px;
  &__title {
    color: #050038;
    font-size: 22px;
    margin-bottom: 8px;
    font-family: Montserrat-Bold;
  }
  &__description {
    color: #9b99af;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
    &-text-underline {
      text-decoration: underline;
    }
  }
  .form-group {
    padding-right: 30% !important;
    .form-label {
      color: #050038;
      font-size: 14px;
    }
    .placeholder:not(:focus) {
      color: #bac2cb !important;
    }
    .color-input {
      color: #050038;
    }
    .form-control {
      height: 48px;
      color: #050038;
      font-size: 16px;
      &::placeholder {
        color: #9b99af;
      }
      &.invalid-success {
        border: 1px solid #00b97d;
      }
    }
    .message-success {
      font-size: 12px;
      color: #00b97d;
      float: right;
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__delete-profile {
    border: 1px solid #ff465a;
    border-radius: 8px 8px 9px 9px;
    color: #FF465A;
    background-color: #ffffff;
    font-size: 14px;
    padding: 10px;
    display: block;
    height: 48px;
    font-family: Montserrat-SemiBold;
  }
}
.form-add-payment-responsive {
  &__title {
    cursor: pointer;
    font-size: 24px;
    color: #050038;
    display: flex;
    align-items: baseline;
  }
  &__icon-left {
    width: 17px;
    margin-right: 5px;
  }
  .modal-add-payment {
    &__button-submit {
      margin-top: 20px;
      background-color: #f3f4f8;
      color: #8a93a8;
      border: 1px solid #f3f4f8;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .block-wallet {
    &__item {
      border: none;
      padding: 0px 0px 20px 0px;
    }
    &__button-add-document {
      border: 1px solid #f3f4f8;
      background-color: #f3f4f8;
      color: #8a93a8;
      width: 100%;
      margin-bottom: 10px;
    }
    &__button-move {
      width: 100%;
    }
  }
  .block-payment {
    border: 0;
    
    &__bottom {
      border: 0;
    }
    &-remove {
      border-top: 1px solid #d9dbdf;
      border-bottom: 1px solid #d9dbdf;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__text-add {
      color: #050038;
    }
  }
  .block-profile {
    padding-left: 0px;
    border: none;
    border-radius: 0;
    border-top: 1px solid #d9dbdf;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    &:first-child {
      padding-top: 0px;
      border: none;
    }
    &__title {
      margin-bottom: 20px;
      font-family: Montserrat-Medium;
    }
    .form-group {
      padding-right: 0px !important;
      .form-label {
        font-size: 16px;
      }
    }
  }
}
