@import "./breakPoints.scss";

.transaction {
  &__cancel {
    font-size: 16px;
  }
  margin-top: 100px;
  &__reference {
    .text-secondary {
      color: #8A93A8;
      font-size: 16px;
    }
    
  }
  @include large(){  
    margin-top: 174px;
  }

  &__breadcrumb {
    color: #050038;
    font-size: 16px;
    span {
      cursor: pointer;
    }
    .help {
      cursor: pointer;
    }
  }

  &__mt-30 {
    margin-top: 30px;
  }

  &__button-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    
    button, a {
      border-radius: 8px 8px 9px 9px;
      font-size: 16px;
      font-family: Montserrat-SemiBold;
      &.btn1 {
        background-color: #004bb4!important;
      }
      &.btn2, &.supportBtn {
        color: #8a93a8;
        background-color: #f3f4f8;
      }
    }
  }

  &__suggest {
    p {
      color: #050038;
      font-size: 16px;
    }
  }
  &__title-main {
    font-size: 22px;
    color: #050038;
    font-family: Montserrat-Bold;
  }
  &__description {
    color:#050038;
  }
}
.transaction-reference {
  &__title {
    font-size: 34px;
    color: #050038;
    font-family: Montserrat-Bold;
  }
  &__price {
    color: #004BB4;
    font-size: 34px;
    font-family: Montserrat-Bold;
  }
}
.transaction-reference-progress {
  border-top: 1px solid #081138;
  
  > div {
    text-align: center;
    position: relative;
    top: -14px;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
      right: -2px;
    }
  }
  &__check {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #081138;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 7px;
      top: 4px;
      z-index: 4;
      width: 5px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &.checked {
      background-color: #081138;
    }
  }

  &__title {
    color: #081138;
    margin-top: 10px;
    font-weight: 500;
  }
}

.transaction-detail {
  &__title {
    color:#050038;
    font-size: 22px;
    font-family: Montserrat-Bold;
  }
  &__list {
    p {
      color: #081138;
      font-size: 16px;
    }
  }
}

.transaction-sold-by {
  &__title {
    color:#050038;
    font-size: 22px;
    font-family: Montserrat-Bold;
  }
  &__name {
    margin-top: auto;
    font-size: 16px;
    color: #081138;
  }
  &__tag {
    background-color: rgba(0, 128, 0, 0.45);
    padding: 2px 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    span {
      margin-bottom: 0;
      &:first-child {
        margin-right: 3px;
        // margin-bottom: 3px;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(0, 128, 0, 1);
        border: 1px solid rgba(0, 128, 0, 1);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 5px;
          top: 3px;
          z-index: 4;
          width: 4px;
          height: 6px;
          border: solid white;
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
        }
      }
      &:last-child {
        font-size: 10px;
        color: rgba(0, 128, 0, 1);
      }
    }
  }
}

.transaction-image {
  position: relative;
  padding-top: 60%;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 58%; /* aspect-ratio: 220 / 128; */
  &__inner {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    padding-top: 58%; /* aspect-ratio: 220 / 128; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
  }
}

.modal {
  &__title {
    font-size: 22px;
    color: #050038;
    font-family: Montserrat-Bold;
    margin-bottom: 0px;
  }
  &__icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}