@import "./breakPoints";

.tuto-modal {
  text-align: center;
  
  .modal-dialog {
    max-width: 660px;
  }
  
  .modal-body {
    padding: 0;
    border-radius: 5px;
  }
  
  &__body {
    padding: 1.5rem;
  }
  
  &__radio {
    height: 15px;
    width: 15px;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
  }
  
  &__title-placeholder {
    font-family: Montserrat-Bold;
    font-size: 22px;
    visibility: hidden;
    position: relative;
  }
  
  &__title {
    font-family: Montserrat-Bold;
    font-size: 22px;
    margin-top: 10px;
    line-height: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible;
    padding-top: auto;
  }
  
  &__text-placeholder {
    font-family: Montserrat-Medium;
    line-height: 19px;
    visibility: hidden;
    position: relative;
  }
  
  &__text {
    font-family: Montserrat-Medium;
    line-height: 19px;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  
  &__button {
    font-size: 14px;
    height: 48px;
    border: none;
    width: 80%;
    max-width: 160px;
    
    &:focus {
      box-shadow: none !important;
      border-shadow: none !important;
    }
    
    &.btn-secondary {
      color: #ffffff;
      background-color: #8a93a8;
    }
    
    &.btn-secondary:disabled {
      color: #8a93a8;
      background-color: #f3f4f8;
    }
    
    &--end {
      border: none;
      height: 48px;
      width: 80%;
      max-width: 340px;
    }
  }
  
  &__hide-button {
    color: #8a93a8;
    font-size: 13px;
    margin-top: 10px;
    text-decoration: underline;
  }
}